article {
  background-color: rgb(252, 250, 255);
}

.post-index {
    background-color: rgb(244, 237, 249);
    padding: 10px;
    text-align: justify;
    border-radius: 20px;
}

#post-show-page {
  padding: 0 5vw 5vh 5vw;
}
