header, nav, h1, h2 {
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
  background-color: black;
  nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    #nav-title {
      grid-column: 1;
    }
    #nav-blog {
      grid-column: 4;
    }
    #nav-projects {
      grid-column: 5;
    }
    #nav-about {
      grid-column: 6;
    }
    a {
      height: 10vh;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
    }
    a:hover {
      background-color: rgb(252, 250, 255);
      color: black;
    }
  }
}

@media (max-width: 480px) {
  header {
    nav {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      a {
        height: 5vh;
      }
    }
  }
}
