// MEDIA QUERIES
//----------------------------------------------------------------------
@media (max-width: 480px) {
  main {
    padding: 5vw;
    min-height: 90vh;
    width: 90vw;
    margin-bottom: 10vh;
  }
}

@media (max-width: 480px) {
  header {
    position: fixed;
    bottom: 0px;
    background-color: #6b37bf;
    nav {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      #nav-title {
        display: 1;
      }
      #nav-blog {
        grid-column: 2;
      }
      #nav-projects {
        grid-column: 3;
      }
      #nav-about {
        grid-column: 4;
      }
    }
  }
}

@media (max-width: 480px) {
  #post-show-page {
    padding: 0px;
  }
}

@media (max-width: 480px) {
  footer {
    display: none;
  }
}
